.who-we-are-section {
  padding: 48px 128px;
}

.who-we-are-container {
  grid-template-columns: 1fr 1fr;
  gap: 96px;
  padding: 128px 0 0 0;
}

.who-we-are-container,
.our-goal-container {
  position: relative;
  display: grid;
  justify-content: center;
  z-index: 10;
}

.about-heading-1 {
  text-align: start;
  color: #8f00ff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
}

.about-heading-2 {
  text-align: start;
  color: #8f00ff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
}

.about-text-1 {
  text-align: start;
  font-size: 20px;
  font-weight: 500;
  padding: 24px 0;
}

.about-text-2 {
  text-align: start;
  font-size: 20px;
  font-weight: 500;
  padding: 24px 0;
}

/************************************************/
/************** MEDIA QUERIES  ***************/
/************************************************/
@media only screen and (max-width: 1528px) {
  .about-heading-1,
  .about-heading-2 {
    font-size: 28px;
  }

  .about-text-2,
  .about-text-1 {
    font-size: 16px;
  }

  .about-text-2 span {
    font-size: 20px;
  }

  .our-goal-img-box img,
  .who-we-are-img-box img {
    width: 100%;
  }
}

@media only screen and (max-width: 1132px) {
  .about-heading-1,
  .about-heading-2 {
    font-size: 20px;
  }

  .about-text-2,
  .about-text-1 {
    font-size: 12px;
  }

  .about-text-2 span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 972px) {
  .about-heading-1,
  .about-heading-2 {
    font-size: 16px;
  }

  .about-text-2,
  .about-text-1,
  .about-text-2 span {
    font-size: 10px;
  }

  .who-we-are-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 736px) {
  .who-we-are-section {
    padding: 36px 96px;
  }
}

@media only screen and (max-width: 672px) {
  .who-we-are-section {
    padding: 24px 64px;
  }
}

@media only screen and (max-width: 576px) {
  .who-we-are-section {
    padding: 16px;
  }

  .who-we-are-container {
    gap: 16px;
  }

  .about-text-2,
  .about-text-1,
  .about-heading-2 {
    padding: 0;
  }

  .about-heading-1,
  .about-heading-2 {
    font-size: 14px;
  }

  .about-text-2,
  .about-text-1,
  .about-text-2 span {
    font-size: 8px;
  }
}
